In [69]:
# dependencies
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [90]:
# import data
df = pd.read_csv('data.csv')
df

    product_key  sale_date  sale_price
0         12345   1/1/2021         100
1         12345   2/1/2021         100
2         12345   3/1/2021         100
3         12345   4/1/2021          80
4         12345   5/1/2021         100
5         12345   6/1/2021         100
6         12345   7/1/2021         100
7         12345   8/1/2021         100
8         12345   9/1/2021         100
9         12345  10/1/2021         100
10        12345  11/1/2021         100
11        12345  12/1/2021         100
12        12345   1/1/2022          99
13        12345   2/1/2022          99
14        12345   3/1/2022          89
15        12345   4/1/2022          99
16        12345   5/1/2022          99
17        12345   6/1/2022          99

In [48]:
X_df = pd.to_datetime(df['sale_date'])

In [49]:
X = pd.DataFrame(X_df)
X['Year'] = pd.DatetimeIndex(X_df).year
X['Month'] = pd.DatetimeIndex(X_df).month
X['Day'] = pd.DatetimeIndex(X_df).day
X.drop('sale_date', axis=1, inplace=True)
X

    Year  Month  Day
0   2021      1    1
1   2021      2    1
2   2021      3    1
3   2021      4    1
4   2021      5    1
5   2021      6    1
6   2021      7    1
7   2021      8    1
8   2021      9    1
9   2021     10    1
10  2021     11    1
11  2021     12    1
12  2022      1    1
13  2022      2    1
14  2022      3    1
15  2022      4    1
16  2022      5    1
17  2022      6    1

In [50]:
y = df['sale_price']
y

0     100
1     100
2     100
3      80
4     100
5     100
6     100
7     100
8     100
9     100
10    100
11    100
12     99
13     99
14     89
15     99
16     99
17     99
Name: sale_price, dtype: int64

In [59]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [60]:
# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [63]:
# check shape of training/testing data sets
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(13, 3)
(5, 3)
(13,)
(5,)

In [62]:
# # create the model
# rf_model = RandomForestClassifier(n_estimators=128, random_state=1)

In [64]:
# fit model to scaled training data
# rf_model = rf_model.fit(X_train_scaled, y_train)

In [65]:
# # Making predictions using the testing data
# predictions = rf_model.predict(X_test_scaled)
# predictions

array([100, 100,  99, 100,  99], dtype=int64)

In [71]:
lin_model = LinearRegression()

In [84]:
model.fit(X_train_scaled,y_train)

LinearRegression()

In [85]:
y_pred = model.predict(X_test_scaled)

In [77]:
y

0     100
1     100
2     100
3      80
4     100
5     100
6     100
7     100
8     100
9     100
10    100
11    100
12     99
13     99
14     89
15     99
16     99
17     99
Name: sale_price, dtype: int64

In [86]:
y_pred = pd.DataFrame(y_pred)

In [87]:
y_pred

       0
0  100.0
1  100.0
2   99.0
3  100.0
4   99.0

In [89]:
X_test

    Year  Month  Day
6   2021      7    1
3   2021      4    1
13  2022      2    1
2   2021      3    1
14  2022      3    1