In [1]:
# dependencies
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import RandomOverSampler
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from collections import Counter
from sqlalchemy import create_engine
# import joblib

In [2]:
# Store environment variable
from getpass import getpass
password = getpass('Enter database password')

Enter database password········

In [3]:
# Connect to RDS Database to query price_data table and store as a pandas DataFrame
url = f"postgresql://postgres:{password}@final-project.crnuve3iih8x.us-east-1.rds.amazonaws.com:5432/postgres"

engine = create_engine(url)

connect = engine.connect()

query = "SELECT * FROM price_data"

df = pd.read_sql(query, con=connect)
df

,index,id,prices_amountmax,prices_amountmin,prices_availability,prices_condition,prices_currency,prices_dateseen,prices_issale,prices_merchant,...,ean,imageurls,keys,manufacturer,manufacturernumber,name,primarycategories,sourceurls,upc,weight
0,0,AVphzgbJLJeJML43fA0o,104.99,104.99,True,New,USD,2017-03-30,False,Bestbuy.com,...,None,https://images-na.ssl-images-amazon.com/images...,sanusvlf410b110inchsuperslimfullmotionmountfor...,None,VLF410B1,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...,Electronics,https://www.amazon.com/Sanus-VLF410B1-10-Inch-...,7.94E+11,32.8 pounds
1,1,AVpgMuGwLJeJML43KY_c,69.00,64.99,None,New,USD,2017-12-14,True,Walmart.com,...,None,https://images-na.ssl-images-amazon.com/images...,boytone2500w21chhometheatersystemblackdiamond/...,Boytone,BT-210F,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Electronics,http://reviews.bestbuy.com/3545/4784804/review...,6.42E+11,14 pounds
2,2,AVpgMuGwLJeJML43KY_c,69.00,69.00,None,New,USD,2017-09-08,False,Walmart.com,...,None,https://images-na.ssl-images-amazon.com/images...,boytone2500w21chhometheatersystemblackdiamond/...,Boytone,BT-210F,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Electronics,http://reviews.bestbuy.com/3545/4784804/review...,6.42E+11,14 pounds
3,3,AVpgMuGwLJeJML43KY_c,69.99,69.99,True,New,USD,2017-10-10,False,Bestbuy.com,...,None,https://images-na.ssl-images-amazon.com/images...,boytone2500w21chhometheatersystemblackdiamond/...,Boytone,BT-210F,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Electronics,http://reviews.bestbuy.com/3545/4784804/review...,6.42E+11,14 pounds
4,4,AVpgMuGwLJeJML43KY_c,66.99,66.99,True,New,USD,2017-08-28,False,Bestbuy.com,...,None,https://images-na.ssl-images-amazon.com/images...,boytone2500w21chhometheatersystemblackdiamond/...,Boytone,BT-210F,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Electronics,http://reviews.bestbuy.com/3545/4784804/review...,6.42E+11,14 pounds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14587,14587,AVpgibRDLJeJML43PTZX,65.99,65.99,None,None,USD,2015-09-05,True,None,...,None,http://pisces.bbystatic.com/image2/BestBuy_US/...,naxa42soundbarwithbluetooth_builtinsubwoofer/0...,Naxa,SPNA7008,naxa - 2.1-Channel Soundbar with 50-Watt Digit...,Electronics,https://www.walmart.com/reviews/product/441840...,8.40E+11,4.1 pounds
14588,14588,AVpgibRDLJeJML43PTZX,58.99,58.99,True,New,USD,2017-10-10,False,Bestbuy.com,...,None,http://pisces.bbystatic.com/image2/BestBuy_US/...,naxa42soundbarwithbluetooth_builtinsubwoofer/0...,Naxa,SPNA7008,naxa - 2.1-Channel Soundbar with 50-Watt Digit...,Electronics,https://www.walmart.com/reviews/product/441840...,8.40E+11,4.1 pounds
14589,14589,AVpgibRDLJeJML43PTZX,58.49,58.49,None,New,USD,2018-03-05,False,Walmart.com,...,None,http://pisces.bbystatic.com/image2/BestBuy_US/...,naxa42soundbarwithbluetooth_builtinsubwoofer/0...,Naxa,SPNA7008,naxa - 2.1-Channel Soundbar with 50-Watt Digit...,Electronics,https://www.walmart.com/reviews/product/441840...,8.40E+11,4.1 pounds
14590,14590,AVpgibRDLJeJML43PTZX,77.98,77.98,None,None,USD,2016-03-22,True,None,...,None,http://pisces.bbystatic.com/image2/BestBuy_US/...,naxa42soundbarwithbluetooth_builtinsubwoofer/0...,Naxa,SPNA7008,naxa - 2.1-Channel Soundbar with 50-Watt Digit...,Electronics,https://www.walmart.com/reviews/product/441840...,8.40E+11,4.1 pounds
14591,14591,AVpgibRDLJeJML43PTZX,71.95,71.95,None,new,USD,2015-12-05,False,Beach Audio Inc - Walmart.com,...,None,http://pisces.bbystatic.com/image2/BestBuy_US/...,naxa42soundbarwithbluetooth_builtinsubwoofer/0...,Naxa,SPNA7008,naxa - 2.1-Channel Soundbar with 50-Watt Digit...,Electronics,https://www.walmart.com/reviews/product/441840...,8.40E+11,4.1 pounds

In [4]:
# Create features dataframe
price_df = pd.DataFrame({'id': df['id'],
#                          'Year': pd.DatetimeIndex(pd.to_datetime(df['prices_dateseen'])).year,
                         'Quarter': pd.DatetimeIndex(pd.to_datetime(df['prices_dateseen'])).quarter,
                         'Month': pd.DatetimeIndex(pd.to_datetime(df['prices_dateseen'])).month,
#                          'Day': pd.DatetimeIndex(pd.to_datetime(df['prices_dateseen'])).day,
                         'prices_amountmin': df['prices_amountmin'],
                         'prices_merchant': df['prices_merchant'],
                         'issale': df['prices_issale']
                        })
price_df.dropna(inplace=True)

In [5]:
# Determine the number of unique values in each column
price_df.nunique()

id                  1245
Quarter                4
Month                 12
prices_amountmin    4706
prices_merchant     1558
issale                 2
dtype: int64

In [6]:
# value counts on merchant data -- NOTE - NEED TO RE-RUN THIS WITH CLEAN MERCHANT DATA
merchants = price_df['prices_merchant'].value_counts()
merchants

Bestbuy.com               4453
bhphotovideo.com          2744
Walmart.com               1105
Amazon.com                 396
Beach Camera               307
                          ...
electronicsurplusdeals       1
thebargainboutique-1         1
devarian1643                 1
trepachka                    1
Entrotek - Walmart.com       1
Name: prices_merchant, Length: 1558, dtype: int64

In [7]:
# Keep top volume merchants and replace the rest with 'other'
replace_merchants = list(merchants[merchants < 500].index)
for m in replace_merchants:
    price_df.prices_merchant = price_df.prices_merchant.replace(m, 'Other')

In [8]:
# Check value counts again
price_df['prices_merchant'].value_counts()

Other               5518
Bestbuy.com         4453
bhphotovideo.com    2744
Walmart.com         1105
Name: prices_merchant, dtype: int64

In [9]:
# Create X dataframe
X_text = price_df.drop('issale', axis=1)
X_text = X_text.reset_index(drop=True)
X_text

                         id  Quarter  Month  prices_amountmin prices_merchant
0      AVphzgbJLJeJML43fA0o        1      3            104.99     Bestbuy.com
1      AVpgMuGwLJeJML43KY_c        4     12             64.99     Walmart.com
2      AVpgMuGwLJeJML43KY_c        3      9             69.00     Walmart.com
3      AVpgMuGwLJeJML43KY_c        4     10             69.99     Bestbuy.com
4      AVpgMuGwLJeJML43KY_c        3      8             66.99     Bestbuy.com
...                     ...      ...    ...               ...             ...
13815  AVpgibRDLJeJML43PTZX        4     10             69.55           Other
13816  AVpgibRDLJeJML43PTZX        4     12             58.99     Walmart.com
13817  AVpgibRDLJeJML43PTZX        4     10             58.99     Bestbuy.com
13818  AVpgibRDLJeJML43PTZX        1      3             58.49     Walmart.com
13819  AVpgibRDLJeJML43PTZX        4     12             71.95           Other

[13820 rows x 5 columns]

In [10]:
# Encode merchant data
encoder = LabelEncoder()
X = X_text.copy()
X['prices_merchant'] = encoder.fit_transform(X['prices_merchant'])
X['id'] = encoder.fit_transform(X['id'])
X

        id  Quarter  Month  prices_amountmin  prices_merchant
0      831        1      3            104.99                0
1      652        4     12             64.99                2
2      652        3      9             69.00                2
3      652        4     10             69.99                0
4      652        3      8             66.99                0
...    ...      ...    ...               ...              ...
13815  703        4     10             69.55                1
13816  703        4     12             58.99                2
13817  703        4     10             58.99                0
13818  703        1      3             58.49                2
13819  703        4     12             71.95                1

[13820 rows x 5 columns]

In [11]:
# Create y dataframe
y = price_df['issale'].reset_index(drop=True)
y

0        False
1         True
2        False
3        False
4        False
         ...
13815    False
13816    False
13817    False
13818    False
13819    False
Name: issale, Length: 13820, dtype: bool

In [12]:
# Check y classes
y.value_counts()

False    10492
True      3328
Name: issale, dtype: int64

In [13]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({False: 7859, True: 2506})

In [14]:
# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# check shape of training/testing data sets
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(10365, 5)
(3455, 5)
(10365,)
(3455,)

In [16]:
# # create the model
rf_model = RandomForestClassifier(n_estimators=128, random_state=27)

In [17]:
# fit model to scaled training data
rf_model = rf_model.fit(X_train_scaled, y_train)

In [18]:
# # Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)
predictions

array([False, False, False, ..., False, False, False])

In [19]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [20]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         2342          291
Actual 1          580          242

Accuracy Score : 0.7479015918958032
Classification Report
              precision    recall  f1-score   support

       False       0.80      0.89      0.84      2633
        True       0.45      0.29      0.36       822

    accuracy                           0.75      3455
   macro avg       0.63      0.59      0.60      3455
weighted avg       0.72      0.75      0.73      3455

In [21]:
# Use RandomOverSampler to obtain more "True" samples to train our model.
# Reason: 'isSale' appears to be "FALSE" more often than "TRUE"
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({False: 7859, True: 7859})

In [22]:
# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_resampled)

# Scaling data
X_train_scaled = X_scaler.transform(X_resampled)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
# # create the model
rf_model = RandomForestClassifier(n_estimators=128, random_state=27)

In [24]:
# fit model to scaled training data
rf_model = rf_model.fit(X_train_scaled, y_resampled)

In [25]:
# # Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)
predictions

array([False, False, False, ..., False, False, False])

In [26]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [27]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         2136          497
Actual 1          504          318

Accuracy Score : 0.7102749638205499
Classification Report
              precision    recall  f1-score   support

       False       0.81      0.81      0.81      2633
        True       0.39      0.39      0.39       822

    accuracy                           0.71      3455
   macro avg       0.60      0.60      0.60      3455
weighted avg       0.71      0.71      0.71      3455

In [28]:
# Save ML model
# joblib.dump(rf_model, 'ML_Model.sav')

# Load ML model
# rf_model = joblib.load('ML_Model.sav')

In [151]:
# read in user input from website -- TEST/HYPOTHETICAL INPUT FOR NOW
user_input = pd.DataFrame({'id': 'AVpgMuGwLJeJML43KY_c',
                           'Quarter': 2,
                           'Month': 6,
                           'prices_amountmin': 50,
                           'prices_merchant': 'Walmart.com'
                          }, index=[0])

In [158]:
# Find datapoints in X_text that are similar to user_input
user_input_similar_index = X_text.loc[(X_text['id'] == user_input['id'][0]) &
                                (X_text['prices_merchant'] == user_input['prices_merchant'][0])
                               ].index

In [160]:
# Encode user input by finding similar data points in X_text dataframe
user_input_encoded = pd.DataFrame({'id': X.iloc[user_input_similar_index[0]].id,
                                  'Quarter': user_input['Quarter'],
                                   'Month': user_input['Month'],
                                   'prices_amountmin': user_input['prices_amountmin'],
                                   'prices_merchant': X.iloc[user_input_similar_index[0]].prices_merchant
                                  })

In [162]:
# Use X_scaler to transform encoded user input
user_input_encoded_scaled = X_scaler.transform(user_input_encoded)

In [165]:
# Evaluate user input sales price (True indicates price is discounted / False indicates price is not discounted)
rf_model.predict(user_input_encoded_scaled)[0]

True